body{
    font-family: 'Supermercado One', cursive;
    background-color:chocolate;
    color:white;
}
.header_div{
    background-color:rgb(112, 54, 13);
}
.header_div p{
    color:cornsilk;
    font-size:18px;
}
#start_btn{
    height:50px;
    width:200px;
    background-color:darkcyan;  
    font-size:25px;
    border-width:5px;
    border-color:darkred;
    border-radius:10px;
}
#animal_image{
    height:200px;
    width:200px;
}
.footer{
    position:fixed;
    bottom:0;
    width:100%;
    font-size:20px;
    background-color:darkred;
    height: 30px;
    text-shadow: 2px 2px #ff0000;
}